@font-face {
  font-family: "W95FARegular";
  src: url("../../public/W95FARegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: pink;
  margin: 0;
  font-family: "W95FARegular";
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
